{% extends 'tablebooking/base.html' %}

{% block content %}

<form>
  <div class="mb-3">
    <label for="date" class="form-label">Date</label>
    <input type="date" class="form-control" id="date">
  </div>
  <div class="mb-3">
    <label for="time" class="form-label">Time</label>
    <input type="time" class="form-control" id="time">
  </div>
  <div class="mb-3">
    <label for="no_of_people" class="form-label">Number of People</label>
    <input type="no_of_people" class="form-control" id="no_of_people">
  </div>
  <div class="mb-3">
    <label for="no_of_child_seats" class="form-label">Number of Child Seats</label>
    <input type="no_of_child_seats" class="form-control" id="no_of_child_seats">
  </div>
  <div class="mb-3 form-check">
    <input type="private_booth" class="form-check-input" id="private_booth">
    <label class="form-check-label" for="exampleCheck1">Private Booth</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% end block content %}