{% extends 'tablebooking/base.html' %}

{% block content %}
<div class="bg_sub container-fluid d-flex justify-content-center align-items-center m-0 p-3">
    <div class="container-fluid m-0 p-3 d-flex justify-content-center">
        <div id="reservation_list" style="background-color: cadetblue">
            {% for reservation in reservation_list %}
            <div class="row mb-2 col-12 d-flex justify-content-center" style="color: white">
            <h1>Your Reservations</h1>
            </div>
            <div class="row mb-2" style="color: white">
                <div class="col-6 d-flex justify-content-end">Reservation Number:</div>
                <div class="col-6 d-flex align-items-center">{{ reservation.id }}</div>
            </div>
            <div class="row mb-2" style="color: white">
                <div class="col-6 d-flex justify-content-end">Date:</div>
                <div class="col-6 d-flex align-items-center">{{ reservation.date }}</div>
            </div>
            <div class="row mb-2" style="color: white">
                <div class="col-6 d-flex justify-content-end">Time:</div>
                <div class="col-6 d-flex align-items-center">{{ reservation.time }}</div>
            </div>
            <div class="row mb-2" style="color: white">
                <div class="col-6 d-flex justify-content-end">No. of Guests:</div>
                <div class="col-6 d-flex align-items-center">{{ reservation.number_of_guests }}</div>
            </div>
            <div class="row mb-2" style="color: white">
                <div class="col-6 d-flex justify-content-end">No. of Child Seats:</div>
                <div class="col-6 d-flex align-items-center">{{ reservation.number_of_child_seats }}</div>
            </div>
            <div class="row mb-2" style="color: white">
                <div class="col-6 d-flex justify-content-end">Private Booth:</div>
                <div class="col-6 d-flex align-items-center">{{ reservation.private_booth }}</div>
            </div>
            <div class="row mb-2" style="color: white">
                <div class="col-6 d-flex justify-content-end">Waitlisted:</div>
                <div class="col-6 d-flex align-items-center">{{ reservation.waitlisted }}</div>
            </div>
            <div class="row mb-2" style="color: white">
                <div class="col-6 d-flex justify-content-end">Comment:</div>
                <div class="col-6 d-flex align-items-center">{{ reservation.comment }}</div>
            </div>
            <div class="row mb-2" style="color: white">
                <div class="col-12 d-flex justify-content-center">Actions:</div>
            </div>
            <div class="row mb-2" style="color: white">
                <div class="col-12 list-buttons justify-content-center">
                    <a class = "button d-flex justify-content-center m-1" href="{% url 'manage_reservation' pk=reservation.pk %}">
                        Manage Reservation
                    </a>
                    <a class = "button d-flex justify-content-center m-1" href="{% url 'delete_reservation' pk=reservation.pk %}">
                        Delete Reservation
                    </a>
                </div>
            </div>
                    {% empty %}
                    <tr>
                        <td colspan="10">Sorry, currently you don't have any bookings.</td>
                    </tr>
                    {% endfor %}
                    {% if is_paginated %}
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"
                                    style="color: cadetblue">&laquo; PREV </a></li>
                            {% endif %}
                            {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link" style="color: cadetblue"> NEXT
                                    &raquo;</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
            </div>
        
    </div>
</div>
</div>
{% endblock content %}