{% extends 'tablebooking/base.html' %}

{% block content %}
<!-- divs for background image and container with background color --> 
<div class="bg_sub container-fluid d-flex align-items-center">
  <div class="row">
    <div class="cont_sub_fill col-md-8 mt-5 offset-md-2">
      <!-- user is asked if they want to delete the reservation --> 
      <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        {{ form }}
        <input type="submit" value="Confirm">
      </form>
    </div>
  </div>
</div>
{% endblock %}