@import url('https://fonts.googleapis.com/css?family=Pacifico:400|Cormorant Garamond:300,400,500,600,700');

body{
    font-family: Cormorant Garamond;
    color: aliceblue;
    min-height: 100vh;
    font-size: 2.5 vw;
    display: flex;
    flex-direction: column;
   }

   h1 {
    font-size: 3vw;
   }

#logo {
    text-decoration: none;    
    font-family: Pacifico;
    color: cadetblue;
    font-size: 2.5vw;
    margin:0;
    padding:0;
}

header {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    opacity: 0.85;
    color: cadetblue; 
    }

footer{
    margin-top: auto;
    background-color: aliceblue;
    opacity: 0.85;
    color: cadetblue;  
    width: 100%;
    display: inline-block;
    position: relative;
    left:0;
    right:0;
    bottom:0;
    padding-top: 10px;
    padding-bottom:10px;
}

footer p {
  margin: 0; /* Remove default margins */
  font-size: 12px;
  line-height: 1.5; /* Adjust the line-height as needed */
}

.container {
  background-color: cadetblue;   
  margin: 18%; 
  padding: 3%;
  opacity: 95%;
}

/* remove bullets from menu display, set margin and padding to zero */
#nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Display the list items horizontally */
  #nav li {
    display: inline-block;
    margin-right: 3vw; 
  }
  
  /* Add some styling to the links */
  #nav li a {
    text-decoration: none;
    color: #333;
    margin-top: 3%;
    font-size: 1.5vw;
  }
  
/* Style the active link differently */
  #nav li.active a {
    font-weight: bold;
  }

/* Style the quote container */

#quote {
  font-family: Pacifico;
  font-size: 3vh;
  color: cadetblue;
  margin: 5vh;
}

/* Style the menu container */

#menu {
  background-color: cadetblue;
  width:100%;
  height:100%;
}

/* create flip effect of menu cards */
.menu-card {
  width:100%;
  height: 100%;
  position: relative;
  border-radius: 2rem;
  /*background-color: cadetblue;*/
  opacity: 0.7;
  transition: transform 1500ms;
  overflow: hidden;
  transform-style: preserve-3d;
}

.front, .back {
  /*position: relative;*/
  width:100%;
  height: 100%;
  border-radius: 2rem;
  backface-visibility: hidden;
}

/*.front img, .back img {
  height:100%;
  width:100%;
  border-radius: 2rem;
}*/

.menu-card: hover {
  cursor: pointer;
  transform: rotateY(180deg);
}

.front{
  height: 100%;
  position: absolute;
}

.back {
  background: cadetblue;
  transform: rotateY(180deg);
  position: relative;
}

#breakfast-bg {
  background-image: url(../images/breakfast_shorter.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  padding: 0;
}

#lunch-bg {
  background-image: url(../images/barbeque1280.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  padding: 0;
}

#dinner-bg{
  background-image: url(../images/desert1280.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  padding: 0;
}


/* Styles for smaller screens (adjust the breakpoint as needed) */
@media screen and (max-width: 767px) {
  #quote {
    font-size: 2vw;
    margin: 2px;
  }

  body{
    font-size: 2vw;
}
}