@import url('https://fonts.googleapis.com/css?family=Pacifico:400|Cormorant Garamond:300,400,500,600,700');

body{
    font-family: Cormorant Garamond;
    color: aliceblue;
    min-height: 100vh;
    font-size: 2.5 vw;
    display: flex;
    flex-direction: column;
   }

   h1 {
    font-size: 3vw;
   }

#logo {
    text-decoration: none;    
    font-family: Pacifico;
    color: cadetblue;
    font-size: 2.5vw;
    margin:0;
    padding:0;
}

header {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    opacity: 0.85;
    color: cadetblue; 
    }

footer{
    margin-top: auto;
    background-color: aliceblue;
    opacity: 0.85;
    color: cadetblue;  
    width: 100%;
    display: inline-block;
}

.container {
  background-color: cadetblue;   
  margin: 18%; 
  padding: 3%;
  opacity: 95%;
}

/* remove bullets from menu display, set margin and padding to zero */
#nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Display the list items horizontally */
  #nav li {
    display: inline-block;
    margin-right: 3vw; 
  }
  
  /* Add some styling to the links */
  #nav li a {
    text-decoration: none;
    color: #333;
    margin-top: 3%;
    font-size: 1.5vw;
  }
  
  /* Style the active link differently */
  #nav li.active a {
    font-weight: bold;
  }


#quote {
  font-family: Pacifico;
  font-size: 3vh;
  color: cadetblue;
  margin: 5vh;
}

#menu {
  background-color: cadetblue;
}


/* Styles for smaller screens (adjust the breakpoint as needed) */
@media screen and (max-width: 767px) {
  #quote {
    font-size: 2vw;
    margin: 2px;
  }

  body{
    font-size: 2vw;
}
}