@import url('https://fonts.googleapis.com/css?family=Pacifico:400|Cormorant Garamond:300,400,500,600,700');

body{
    font-family: Cormorant Garamond;
    color: aliceblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   }

#logo {
    font-family: Pacifico;
    margin:0;
    padding:0;
}

header {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    opacity: 0.85;
    color: cadetblue; 
}

footer{
    margin-top: auto;
    background-color: aliceblue;
    opacity: 0.85;
    color: cadetblue;  
}

.container {
  background-color: cadetblue;   
  margin: 18%; 
  padding: 3%;
  opacity: 95%;
}

/* Remove default list styling (bullets) */
#nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Display the list items horizontally */
  #nav li {
    display: inline-block;
    margin-right: 30px; 
  }
  
  /* Add some styling to the links */
  #nav li a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
  }
  
  /* Style the active link differently */
  #nav li.active a {
    font-weight: bold;
  }


#quote {
  font-family: Pacifico;
  font-size: 50px;
  color: cadetblue;
  margin-top: 15%;
}

#menu {
  background-color: cadetblue;
  padding:5%;
}


  