html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg_sub {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://res.cloudinary.com/dywlergeu/image/upload/v1690722409/static/images/header_sw.0fbacd69d7d5.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  padding: 0;
}

.cont_sub_fill {
  background-color: cadetblue;
  padding: 30px;
  max-width: 650px;
}

.cont_sub_fill h1 {
  text-align: center;
}

/* Define the container as a grid */
#reservation_list {
  display: grid;
}



@media screen and (max-width: 1270px) {
  .cont_sub_fill {
    padding: 5px;
    max-width: 400px;
  }
}

@media screen and (max-width: 600px) {
  table thead {
    display: none;
  }
  table td {
    display: flex;
    flex-direction: column; /* Align content vertically */
    justify-content: center; /* Center content vertically */
    align-items: flex-start; /* Align content to the left */
    padding-left: 120px; /* Add some left padding to match the label width */
  }
  
  table td::before {
    content: attr(label);
    font-weight: bold;
    width: 120px;
    min-width: 120px;
    padding-right: 10px; /* Add some right padding to separate label from data */
  }
}

